@charset "utf-8";
/* CSS Document */
.back{
	background-color: #6D6D6D;
}
.p1{
	background-color: #7EB8EA;
	color: black;
	font-family: arial;
	font-size: 12px;
	text-align: center;
	width: 20%;
	display: inline-block;
	}

.p2{
	background-color: #FFABAB;
	color: black;
	font-family: Times New Roman;
	font-size: 12px;
	text-align: center;
	width: 20%;
	display: inline-block;
}